@font-face {
  font-family: GothamRounded-Book;
  src: url('../fonts/GothamRounded-Book.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: GothamRounded-Medium;
  src: url('../fonts/GothamRounded-Medium.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: GothamRounded-MediumItalic;
  src: url('../fonts/GothamRounded-MediumItalic.otf');
  font-style: normal;
  font-weight: normal;
}

body {
  min-width: 320px;
  font-family: GothamRounded-Medium;
  color: #8c9398;
  font-weight: 500;
}

.inner {
  width: 100%;
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  background: url('../img/template/header.png') repeat-x center;
  background-size: cover;
}

.header__inner {
  position: relative;
  min-height: 100vh;
}

.header__menu-button {
  position: absolute;
  right: 0;
  top: 63px;
  color: #372c3c;
  font-size: 30px;
  cursor: pointer;
  transition: 0.25s ease-out opacity;
}

.header__main {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  text-align: center;
}

.title {
  color: #353535;
  font-family: GothamRounded-Book;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 12px;
}

.title--grey {
  color: #a1a9b0;
  letter-spacing: 12px;
}

.header__description {
  margin: 20px 0 65px;
  color: #8c9398;
  font-family: GothamRounded-Book;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2.2px;
}

.header__description--italic {
  font-family: GothamRounded-MediumItalic;
  font-weight: 500;
  letter-spacing: 2.3px;
}

.header__button-border {
  display: inline-block;
  height: 63px;
  background-color: #309383;
  border-radius: 5px;
}

.header__button {
  width: 200px;
  height: 60px;
  color: #fff;
  font-family: GothamRounded-Medium;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  background-color: #3dc9b3;
  border: none;
  border-radius: 5px;
  transition: 0.25s ease-out opacity;
}

.article,
.responsive,
.footer__main {
  background: #f3f5f8;
}

.subtitle {
  color: #353535;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.subtitle--with-dots {
  position: relative;
  max-width: 556px;
  padding: 0 20px 31px;
  margin: 0 auto;
  letter-spacing: 2.25px;
}

.subtitle--with-dots:before {
  position: absolute;
  content: '';
  width: 88px;
  left: 50%;
  background: #fff;
  bottom: -7px;
  display: inline-block;
  height: 10px;
  transform: translate(-50%, 0);
}

.subtitle--with-dots:after {
  position: absolute;
  content: '';
  width: 15px;
  height: 13px;
  left: 50%;
  background: url("../img/template/subtitle-triangle.png") no-repeat center;
  bottom: -7px;
  display: inline-block;
  transform: translate(-50%, 0);
}

.subtitle--dots-border {
  vertical-align: top;
}

.paragraph {
  text-align: center;
  font-size: 14px;
}

.article__inner {
  padding: 107px 20px 127px;
}

.article__subtitle:before,
.footer__subtitle:before {
  background-color: #f3f5f8;
}

.article__paragraph {
  margin: 71px auto 0;
  line-height: 30px;
  letter-spacing: 0.14px;
  max-width: 742px;
  width: 100%;
}

.article__paragraph--black {
  color: #353535;
}

.profile__inner {
  padding: 100px 0 120px;
}

.profile__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 88px auto 0;
  padding: 0 10px;
}

.profile__item {
  width: 100%;
  flex: 0 1 calc(33.333% - 47px);
  display: block;
}

.profile__picture {
  text-align: center;
  margin: 0 auto 51px;
}

.profile__img {
  width: 151px;
  max-width: 100%;
  transition: 0.25s ease-out opacity;
}

.subtitle--with-strip {
  display: block;
  position: relative;
  padding-bottom: 21px;
  margin-bottom: 32px;
}

.subtitle--with-strip:after {
  position: absolute;
  content: '';
  width: 33px;
  height: 3px;
  background: #3dc9b3;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}

.profile__paragraph {
  margin: 0 auto;
  line-height: 20px;
  color: #8c9398;
}

.responsive {
  background: url("../img/template/iPhone_5S.png") no-repeat 353px 30px, linear-gradient(to right, #f3f5f8 60%, #fff 40%) ;
  position: relative;
  overflow-x: hidden;
  max-width: 100vw;
}

.responsive__inner {
  display: flex;
}

.responsive__picture {
  display: none;
  background: #f3f5f8;
}

.responsive__content {
  position: relative;
  margin-left: auto;
  width: 555px;
  max-width: 100%;
  padding: 134px 0 95px 8.68%;
  background: #fff;
  box-shadow: -10px 13px 25px -15px;
}

.responsive__content:after {
  content: '';
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  right: -100vw;
  background: #fff;
}

.responsive__slider-item {
  height: 443px;
}

.slider__item:focus,
.portfolio__picture:focus {
  outline: none;
}

.responsive__text {
  margin-top: 35px;
}

.responsive__paragraph {
  text-align: justify;
  padding-bottom: 32px;
  line-height: 20px;
}

.slogan {
  background: url("../img/template/flower-background.png") repeat-x center;
  background-size: cover;
}

.slogan__inner {
  text-align: center;
  padding: 81px 0 55px;
}

.title--white {
  color: #fff;
}

.slogan__title {
  margin-bottom: 28px;
}

.slogan__description {
  color: #fff;
  font-family: GothamRounded-Book;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 7.5px;
}

.slogan__description--italic {
  font-family: GothamRounded-MediumItalic;
}

.slogan__link {
  display: block;
  width: 44px;
  height: 44px;
  background-color: #3dc9b3;
  border-radius: 50%;
  margin: 43px auto 0;
  transition: 0.25s ease-out opacity;
}

.icon-down-open {
  color: #fff;
  line-height: 2.2;
  font-size: 20px;
}

.portfolio__slider {
  font-size: 0;
  padding: 104px 0 109px;
}

.portfolio__item {
  max-width: 100%;
  padding: 0 10px;
}

.portfolio__picture {
  position: relative;
  display: block;
}

.portfolio__picture:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(61, 201, 179, 0.7);
  background-image: url('../img/template/magnifier.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 93px;
  opacity: 0;
  transition: 0.25s ease-out opacity;
  content: '';
}

.portfolio__img {
  margin: 0 auto;
  width: 100%;
}

.portfolio__subtitle {
  margin-top: 45px;
}

.portfolio__paragraph {
  margin-top: 45px;
  line-height: 20px;
}

.ignition {
  background-color: #242830;
  text-align: center;
  margin-bottom: 87px;
}

.ignition__button {
  max-width: 100%;
  width: 294px;
  height: 74px;
  border: 1px solid #fff;
  background-color: #242830;
  margin: 65px auto 61px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  transition: 0.25s ease-out opacity;
}

.team__slider {
  display: flex;
  justify-content: space-between;
  margin: 45px 0 0;
}

.team__item {
  display: block;
  width: 100%;
  padding: 0 10px;
}

.team__picture {
  display: flex;
  justify-content: center;
}

.team__subtitle {
  margin-top: 56px;
}

.team__paragraph {
  margin: 32px 0 36px;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 143px;
  margin: 0 auto;
}

.team__social {
  margin-bottom: 91px;
}

.social__link {
  display: block;
  border-radius: 50%;
  width: 41px;
  height: 41px;
  background-color: #242830;
  text-align: center;
  transition: 0.25s ease-out background-color;
}

.icon-dribbble,
.icon-twitter,
.icon-mail-alt {
  color: #fff;
  line-height: 2.1;
  font-size: 20px;
}

.subscribe {
  background: url("../img/template/keyboard.png");
  background-size: cover;
}

.subscribe__inner {
  padding: 122px 20px 155px;
  text-align: center;
  position: relative;
}

.icon-paper-plane {
  color: white;
  font-size: 25px;
}

.subtitle--white {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  padding: 24px 0 47px;
}

.subscribe__form {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 455px;
  justify-content: space-between;
}

.subscribe__input {
  width: 351px;
  height: 65px;
  padding: 0 24px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2.25px;
  border: 1px solid #fff;
  background-color: transparent;
}

.subscribe__button {
  width: 97px;
  height: 65px;
  border: 1px solid #3dc9b3;
  background-color: #3dc9b3;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  transition: 0.25s ease-out opacity;
}

.subscribe__link {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: 50px;
  background-color: #3dc9b3;
  border-radius: 50%;
  transition: 0.25s ease-out opacity;
}

.icon-up-open {
  color: #fff;
  line-height: 2.3;
  font-size: 20px;
}

.footer__main {
  padding: 126px 0 113px;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  margin: 78px 0 99px;
}

.footer__item {
  flex: 0 1 calc(33.333% - 18px);
  box-shadow: 0 3px 0 #f0f2f4;
  background-color: #fff;
  text-align: center;
  padding: 29px 0 31px;
}

.footer__title {
  color: #3dc9b3;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  padding: 20px 0 29px;
}

.icon-location,
.icon-mobile,
.icon-paper-plane--footer {
  color: #242830;
  font-family: "Font Awesome";
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
}

.icon-paper-plane--footer {
  font-size: 20px;
}

.footer__contact {
  color: #8c9398;
  font-size: 14px;
  transition: 0.25s ease-out color;
}

.footer__mail {
  color: #242830;
}

.footer__social {
  width: 163px;
}

.footer__copyright {
  background-color: #242830;
}

.footer__copyright-text {
  color: #a1a9b0;
  font-family: GothamRounded-Book;
  font-size: 14px;
  color: #fff;
  padding: 55px 0 51px;
}

/* Стили для слайдера */
.slick-dots {
  bottom: 0;
}

.slick-dots li {
  background: #fff;
  width: 13px;
  height: 13px;
  border: 2px solid #c9cbca;
  border-radius: 50%;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before,
.slick-arrow:before {
  color: transparent;
}

.slick-dots li.slick-active {
  position: relative;
  opacity: 1;
}

.slick-dots li.slick-active:before {
  position: absolute;
  bottom: -2.2px;
  right: -2px;
  content: '';
  width: 9px;
  height: 9px;
  border: 2px solid #c9cbca;
  border-radius: 50%;
  background-color: #212024;
}

@media (min-width: 1024px) {
  .header__menu-button:hover,
  .slogan__link:hover,
  .subscribe__link:hover,
  .profile__img:hover {
    opacity: 0.8;
  }

  .footer__contact:hover {
    color: #3dc9b3;
  }

  .social__link:hover {
    background-color: #3dc9b3;
  }

  .portfolio__picture:hover:after {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .header__main {
    padding: 0 20px;
  }

  .profile__inner {
    padding: 50px 0 60px;
  }

  .profile__item {
    display: block;
  }

  .profile__item {
    margin-bottom: 40px;
    flex: 1 1 100%;
    display: flex;
    max-width: 100%;
    padding: 0 20px;
  }

  .profile__picture {
    flex: 1 1 calc(33.333% - 20px);
    margin: 0 15px;
  }

  .profile__text {
    flex: 2 1 calc(66.667% - 20px);
  }

  .profile__paragraph {
    margin-top: 25px;
  }

  .responsive {
    background: none;
  }

  .responsive__inner {
    display: block;
  }

  .responsive__picture {
    display: block;
  }

  .responsive__content {
    margin: 0 auto;
    padding: 62px 8.68% 47px 8.68%;
    box-shadow: none;
  }

  .slogan__title {
    font-size: 30px;
    letter-spacing: 8px;
  }

  .slogan__description {
    font-size: 20px;
  }

  .portfolio__img {
    width: 100%;
  }

  .subscribe__input {
    margin-right: 3px;
  }

  .subscribe__button {
    margin-left: 3px;
  }

  .footer__items {
    display: block;
  }

  .footer__item {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
  }

  .article__inner {
    padding: 53px 20px 73px;
  }

  .article__paragraph {
    margin-top: 35px;
  }

  .slogan__title,
  .slogan__description {
    letter-spacing: 5px;
  }

  .slogan__description {
    font-size: 15px;
  }

  .profile__inner {
    padding: 50px 0 30px;
  }

  .profile__items {
    margin-top: 22px;
  }

  .profile__item {
    display: block;
  }

  .profile__picture {
    margin-bottom: 25px;
  }

  .ignition__button {
    padding: 0;
  }

  .ignition {
    margin-bottom: 43px;
  }

  .subscribe__form {
    display: block;
  }

  .subscribe__input {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }

  .subscribe__button {
    display: block;
    width: 100%;
  }

  .footer__main {
    padding: 63px 0 56px;
  }

  .footer__items {
    margin: 39px 0 44px;
  }

  .footer__icon,
  .footer__title {
    display: inline-block;
  }

  .footer__contact {
    display: block;
  }

  .responsive .slick-dots {
    bottom: -40px;
  }
}